---
year: 2014
title: "A High-Throughput and Arbitrary-Distribution Pattern Generator for the Constrained Random Verification"
venue: "IEEE Trans. Comput. Aided Des. Integr. Circuits Syst. 2014"
authors: "Bo-Han Wu, Chun-Ju Yang, Chung-Yang (Ric) Huang"
links:
  online: "https://doi.org/10.1109/TCAD.2013.2282776"
---
