---
year: 2013
title: "A robust constraint solving framework for multiple constraint sets in constrained random verification"
venue: "DAC 2013"
authors: "Bo-Han Wu, Chung-Yang (Ric) Huang"
links:
  online: "https://doi.org/10.1145/2463209.2488880"
---
