---
year: 2012
title: "QuteRTL: Towards an Open Source Framework for RTL Design Synthesis and Verification"
venue: "TACAS 2012"
authors: "Hu-Hsi Yeh, Cheng-Yin Wu, Chung-Yang (Ric) Huang"
links:
  online: "https://doi.org/10.1007/978-3-642-28756-5_26"
---
