// * /////////////////////////////////////////////////////////////////////////////////////////////
// *
// * FileName     [ index.scss ]
// * PackageName  [ src/Footer ]
// * Synopsis     [ Style for index.js ]
// * Author       [ Cheng-Hua Lu ]
// * Copyright    [ 2022 8 ]
// *
// * /////////////////////////////////////////////////////////////////////////////////////////////

@import '../../index.scss';

.footer-container {
    width: 100%;
    min-height: 5vh;
    position: fixed;
    bottom: 0;

    background-color: $black-blue;

    .wrapper {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .left-col {
            color: white;
            font-size: 16px;
            font-weight: 700;
        }

        .right-col {
            font-size: 16px;
            color: $middle-gray;

            a {
                font-size: 16px;
                text-decoration: none;
                color: $middle-gray;
                border: $middle-gray 1px solid;
                border-radius: 5px;
                margin: 10px;
                padding: 0 10px;
                text-transform: uppercase;

                &:hover {
                    color: $light-gray;
                    border: $light-gray 1px solid;
                }
            }
        }

        .links-col {
            font-size: 16px;
            color: $middle-gray;
            display: flex;
            align-items: center;

            .links-title {
                margin-right: 10px;
                text-transform: uppercase;
            }

            a {
                font-size: 16px;
                text-decoration: none;
                color: $middle-gray;
                border: $middle-gray 1px solid;
                border-radius: 5px;
                padding: 0 10px;
                text-transform: uppercase;

                &:hover {
                    color: $light-gray;
                    border: $light-gray 1px solid;
                }
            }
        }
    }
}