// * /////////////////////////////////////////////////////////////////////////////////////////////
// *
// * FileName     [ index.scss ]
// * PackageName  [ src/Members ]
// * Synopsis     [ Style for index.js ]
// * Author       [ Cheng-Hua Lu ]
// * Copyright    [ 2022 8 ]
// *
// * /////////////////////////////////////////////////////////////////////////////////////////////

@import '../../index.scss';

.members-container {
    background-image: linear-gradient(228deg, $dark-blue, 85%, $light-blue);
    width: 100%;
    height: max-content;
    padding-bottom: 5%;

    .wrapper {
        margin: 0 10%;
        width: 80%;
        height: max-content;

        h1 {
            font-family: 'Coolvetica';
            font-size: $title-font-size;
            color: $light-blue;
            font-weight: 500;
            padding: 3% 0%;

            .text-animate {
                &:hover {
                    color: $light-yellow;
                    font-weight: 700;
                }
            }
        }
    }
}